.picture-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero-text {
    font-family: "Inter";
    font-size: 4em;
    font-weight: bold;
}

.hero-subtitle {
    font-size: 1.2em;
    text-align: center;
    color: #555;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem 2rem 0px 2rem;
}

.resume-main-container {
    display: grid;
    grid-template-columns: auto auto 1fr;
}

.resume-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact-section {
    text-align: center;
}

.languages-section {
    text-align: center;
}

.experience-info-title {
    text-align: center;
}

.skills-info {
    padding: 0 1rem;
    list-style: disc;
}

.skills-info > li {
    display: inline-block;
    list-style: disc;
}

ul > li {
    list-style: circle !important;
}

.padding-be {
    padding-block-end: 1rem;
}

p {
    line-height: 1.5;
}

.project-summary {
    margin: 1rem 0;
}
@media (min-width: 768px) {
    .project-info {
        padding: 0 2.5rem;
    }
    .project-description {
        padding: 0 1rem;
    }
    .project-art {
        padding: 0 1rem 0 1rem;
    }
    .project-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .resume-body {
        padding: 0 4rem 4rem 4rem;
        display: flex;
        flex-direction: column;
        gap: 1rem 0;
    }
}

@media (max-width: 768px) {
    .resume-main-container {
        display: grid;
        grid-template-columns: 1fr;
    }
    .profile-container {
        border-top: 1px solid black;
        padding-top: 1rem;
    }
    .picture-container {
        display:none;
    }
    .resume-body {
        padding: 0 1rem 1rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem 0;
    }
    .project-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 480px) {
}