---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class="resume-container contact-section">
  <h2>{title}</h2>
  <p>
    +54 9 11 3340-2988 -

    <a href="mailto:briandedgonzalez@gmail.com">briandedgonzalez@gmail.com</a> -
    <a
      href="https://www.linkedin.com/in/brian-gonzalez-a96a38359"
      target="_blank">LinkedIn</a
    > -
    <a href="https://github.com/bddGonzalez" target="_blank">Github</a>
  </p>
</section>
