---
interface Props {
  title: string;
  languages: string[];
}

const { title, languages } = Astro.props;
---

<div class="resume-container languages-section">
  <h2>{title}</h2>
  <p>
    {languages.join(", ")}
  </p>
</div>
