---
import { Image } from "astro:assets";
import MyPicture from "../../my_picture.png";
interface Props {
  title: string;
  subtitle?: string;
}

const { title, subtitle } = Astro.props;
---

<div class="header">
  <div class="picture-container">
    <Image src={MyPicture} alt="My picture" height={100} width={100} />
  </div>
  <div class="hero-container">
    <h1 class="hero-text"><Fragment set:html={title} /></h1>
    {subtitle && <p class="hero-subtitle">{subtitle}</p>}
  </div>
</div>
