---
import Separator from "../Separator.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="resume-container skills-info-container">
  <h2 style="text-align:center;">{title}</h2>
  <Separator />
  <ul class="skills-info">
    <li>• TypeScript</li>
    <li>• JavaScript</li>
    <li>• Node.js</li>
    <li>• NestJS</li>
    <li>• Next.js</li>
    <li>• PostgreSQL</li>
    <li>• TypeORM</li>
    <li>• Astro</li>
    <li>• React</li>
    <li>• CSS</li>
    <li>• Tailwind CSS</li>
    <li>• HTML</li>
    <li>• Jest</li>
    <li>• Cypress</li>
    <li>• GIT</li>
    <li>• Bash</li>
    <li>• Docker</li>
    <li>• WordPress</li>
    <li>• Ruby</li>
    <li>• Ruby on Rails</li>
  </ul>
</div>
