---
import "../../styles/globals.css";
import "../../styles/index.css";
import RootLayout from "../../layouts/RootLayout.astro";
import type { Skill } from "../../components/index/SkillCard.astro";
import NextJSIcon from "../../components/icons/NextJSIcon.astro";
import NestJSIcon from "../../components/icons/NestJSIcon.astro";
import PostgreSQLIcon from "../../components/icons/PostgreSQLIcon.astro";
import TypeScriptIcon from "../../components/icons/TypeScriptIcon.astro";
import Hero from "../../components/index/Hero.astro";
import Contact from "../../components/index/Contact.astro";
import CoreTechnologies from "../../components/index/CoreTechnologies.astro";
import AboutSkills from "../../components/index/AboutSkills.astro";

const skills: Skill[] = [
  {
    src: NextJSIcon,
    name: "Next.js",
    description:
      "Cuento con experiencia en el desarrollo de aplicaciones front-end de alto rendimiento, implementando renderizado del lado del servidor y generación de sitios estáticos.",
  },
  {
    src: NestJSIcon,
    name: "NestJS",
    description:
      "Amplia experiencia en la arquitectura y el desarrollo de soluciones de back-end escalables con NestJS, aplicando su conjunto integral de herramientas para el desarrollo de APIs y sistemas complejos.",
  },
  {
    src: PostgreSQLIcon,
    name: "PostgreSQL",
    description:
      "Competente en el diseño y administración de bases de datos relacionales, la elaboración de consultas eficientes y el aseguramiento de la integridad de los datos.",
  },
  {
    src: TypeScriptIcon,
    name: "TypeScript",
    description:
      "Sólida experiencia en el uso de TypeScript para mejorar la calidad del código y la mantenibilidad en proyectos tanto de front-end como de back-end.",
  },
];
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Brian Gonzalez | Full-Stack Developer</title>
  </head>
  <body>
    <RootLayout>
      <main>
        <Hero
          title=`Saludos. Soy Brian.<br /> Desarollador Full-Stack`
          secondary="Creando experiencias digitales fluidas a través de soluciones front-end reflexivas y back-end escalables."
        />

        <Contact title="Contacto" />

        <CoreTechnologies
          title="Core technologies"
          summary="A lo largo de mis dos años como desarrollador web, aproveché al máximo las tecnologías resaltadas para contribuir a la edificación y la conservación de aplicaciones web internas orientadas a la optimización de los procesos operativos en grandes compañías."
          skills={skills}
        />

        <AboutSkills
          aboutMeTitle={"Mas allá del codigo"}
          aboutMe={"Una fascinación por crear soluciones web funcionales y elegantes ha impulsado mi incursión en el desarrollo web, un viaje increíblemente provechoso. Más allá de las tecnologías con las que trabajo, considero cruciales mis sólidas habilidades de resolución de problemas para abordar eficazmente desafíos de desarrollo complejos. También valoro la comunicación clara y la colaboración en equipo, aspectos que he desarrollado en un entorno ágil, asegurando flujos de trabajo de proyectos fluidos y éxito compartido."}
          problemSolving={"Mi enfoque ante los desafíos de desarrollo es metódico, centrándome en entender el problema principal y encontrar soluciones prácticas. La experiencia ha consolidado mi capacidad para analizar problemas, solucionar errores con eficacia e implementar arreglos confiables. Valoro el proceso de dar con soluciones claras y lógicas a los problemas técnicos."}
        />
      </main>
    </RootLayout>
  </body>
</html>
