---
import "../../styles/globals.css";
import "../../styles/resume.css";
import RootLayout from "../../layouts/RootLayout.astro";
import ResumeHeader from "../../components/resume/ResumeHeader.astro";
import ResumeContainer from "../../components/resume/ResumeContainer.astro";
import ResumeAside from "../../components/resume/aside/ResumeAside.astro";
import Separator from "../../components/Separator.astro";
import ContactInfo from "../../components/resume/aside/ContactInfo.astro";
import LanguagesInfo from "../../components/resume/aside/LanguagesInfo.astro";
import SkillsInfo from "../../components/resume/aside/SkillsInfo.astro";
import ResumeBody from "../../components/resume/body/ResumeBody.astro";
import ProfileInfo from "../../components/resume/body/ProfileInfo.astro";
import ExperienceInfo from "../../components/resume/body/ExperienceInfo.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Brian Gonzalez | Full-Stack Developer</title>
  </head>
  <body>
    <RootLayout>
      <main>
        <ResumeHeader title="Brian Gonzalez" subtitle="Full-Stack Developer" />
        <ResumeContainer>
          <ResumeAside>
            <ContactInfo title="Contacto" />
            <Separator />
            <LanguagesInfo title="Idiomas" languages={["Español", "Ingles"]} />
            <Separator />
            <SkillsInfo title="Habilidades" />
          </ResumeAside>
          <Separator orientation="vertical" />
          <ResumeBody>
            <ProfileInfo
              title="Perfil"
              text="Versátil Desarrollador Full-Stack competente en la construcción de aplicaciones web escalables con un fuerte énfasis en el código limpio y la resolución eficiente de problemas."
            />
            <Separator />
            <ExperienceInfo
              title="Experiencia"
              experiences={[
                {
                  at: "Junior Full-Stack Developer, Binks, Octubre 2023 – Actualidad",
                  summary:
                    "Mi experiencia en Binks proporcionó una base sólida en el desarrollo Full-Stack y las mejores prácticas de Clean Code. Estas habilidades se han aplicado directamente y desarrollado en los siguientes proyectos.",
                  points: [
                    "Desarrollé y mantuve un sistema especializado de gestión de la construcción con requisitos complejos para una empresa mediana. Como miembro clave de un equipo pequeño, contribuí ampliamente tanto al lado del cliente como al lado del servidor. Un desafío importante consistió en diseñar e implementar la lógica de back-end para calcular, analizar y generar archivos PDF masivos que contienen cheques de pago de los empleados, asegurando la precisión y el rendimiento de un gran volumen de datos. También identifiqué y resolví proactivamente varios problemas críticos de producción, asegurando la estabilidad del sistema y minimizando el impacto del usuario.",
                    "Como desarrollador de Full-Stack dentro de un pequeño equipo, fui fundamental en la construcción de una plataforma SaaS multi-tenant para la gestión de la construcción. Mis responsabilidades abarcaron toda la pila de tecnología, desde el desarrollo del panel de control orientado al usuario y los front-ends de las aplicaciones hasta la creación de un complejo back-end NestJS. Las contribuciones clave del backend incluyeron la implementación de una intrincada lógica CORS, un patrón de singleton para administrar conexiones dinámicas de bases de datos de tenants y el aprovisionamiento automatizado de nuevas bases de datos de tenants con migración de datos asociada.",
                  ],
                },
              ]}
            />
          </ResumeBody>
        </ResumeContainer>
      </main>
    </RootLayout>
  </body>
</html>
