---
import "../styles/globals.css";
import "../styles/index.css";
import RootLayout from "../components/RootLayout.astro";
import type { Skill } from "../components/SkillCard.astro";
import SkillCard from "../components/SkillCard.astro";
import NextJSIcon from "../components/icons/NextJSIcon.astro";
import NestJSIcon from "../components/icons/NestJSIcon.astro";
import PostgreSQLIcon from "../components/icons/PostgreSQLIcon.astro";
import TypeScriptIcon from "../components/icons/TypeScriptIcon.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import GithubIcon from "../components/icons/GithubIcon.astro";
import EmailIcon from "../components/icons/EmailIcon.astro";

const skills: Skill[] = [
  {
    src: NextJSIcon,
    name: "Next.js",
    description:
      "Experienced in building performant front-end applications with server-side rendering and static site generation.",
  },
  {
    src: NestJSIcon,
    name: "Nest.js",
    description:
      "Utilized for developing scalable and maintainable back-end APIs with a focus on modular architecture.",
  },
  {
    src: PostgreSQLIcon,
    name: "PostgreSQL",
    description:
      "Proficient in designing and managing relational databases, writing efficient queries, and ensuring data integrity.",
  },
  {
    src: TypeScriptIcon,
    name: "TypeScript",
    description:
      "Strongly experienced in using TypeScript to enhance code quality and maintainability across both front-end and back-end projects.",
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Brian Gonzalez | Full-Stack Developer</title>
  </head>
  <body>
    <RootLayout>
      <main>
        <div class="hero-container">
          <h1 class="hero-text">
            Salutations. I'm Brian.<br /> A full-stack developer.
          </h1>
          <p class="hero-subtitle">
            Creating seamless digital experiences through thoughtful front-end
            and scalable back-end solutions.
          </p>
        </div>

        <div class="contact-info">
          <h2 class="contact-title">Contact</h2>
          <div class="contact-links">
            <div>
              <a
                href="mailto:briandedgonzalez@gmail.com"
                target="_blank"
                aria-label="Email"
                class="contact-link"
                ><EmailIcon />
              </a>
            </div>
            <div>
              <a
                href="https://www.linkedin.com/in/brian-gonzalez-a96a38359/"
                target="_blank"
                aria-label="LinkedIn"
                class="contact-link"
                ><LinkedInIcon />
              </a>
            </div>

            <div>
              <a
                href="https://github.com/bddGonzalez"
                target="_blank"
                class="contact-link"
                aria-label="Github"><GithubIcon height={40} width={40} /></a
              >
            </div>
          </div>
        </div>

        <section class="core-technologies-section">
          <h2 class="core-technologies-title">Core Technologies</h2>
          <div class="skills-grid">
            {skills.map((skill) => <SkillCard skill={skill} />)}
          </div>
          <div class="experience-summary-card">
            <p style="text-align: center;">
              During my two years as a web developer, I heavily utilized the
              technologies highlighted above to contribute to building and
              maintaining internal web applications focused on streamlining
              operational workflows within large companies.
            </p>
          </div>
        </section>

        <section class="about-skills-contact-section">
          <div class="about-me">
            <h2 class="about-me-title">More Than Just Code</h2>
            <p>
              Driven by a fascination with creating functional and elegant web
              solutions, my journey into web development has been incredibly
              rewarding. Beyond the specific technologies I work with, I believe
              my strong problem-solving abilities are crucial in tackling
              complex development challenges effectively. I also value clear
              communication and collaboration within a team, honed through my
              experience in a fast-paced environment, ensuring smooth project
              workflows and shared success.
            </p>
          </div>

          <div class="problem-solving-contact-container">
            <div class="problem-solving">
              <p>
                I approach development challenges methodically, focusing on
                understanding the core issue and identifying practical
                solutions. My experience has strengthened my ability to analyze
                problems, troubleshoot effectively, and implement reliable
                fixes. I value the process of finding clear and logical
                solutions to technical problems.
              </p>
            </div>
          </div>
        </section>
      </main>
    </RootLayout>
  </body>
</html>
