---
export const prerender = true;
import "../styles/globals.css";
import "../styles/index.css";
import RootLayout from "../layouts/RootLayout.astro";
import type { Skill } from "../components/index/SkillCard.astro";
import NextJSIcon from "../components/icons/NextJSIcon.astro";
import NestJSIcon from "../components/icons/NestJSIcon.astro";
import PostgreSQLIcon from "../components/icons/PostgreSQLIcon.astro";
import TypeScriptIcon from "../components/icons/TypeScriptIcon.astro";
import AboutSkills from "../components/index/AboutSkills.astro";
import Contact from "../components/index/Contact.astro";
import CoreTechnologies from "../components/index/CoreTechnologies.astro";
import Hero from "../components/index/Hero.astro";

const skills: Skill[] = [
  {
    src: NextJSIcon,
    name: "Next.js",
    description:
      "Experienced in building performant front-end applications with server-side rendering and static site generation.",
  },
  {
    src: NestJSIcon,
    name: "NestJS",
    description:
      "Extensive experience in architecting and developing scalable back-end solutions with NestJS, applying its comprehensive suite of tools for API development and complex systems.",
  },
  {
    src: PostgreSQLIcon,
    name: "PostgreSQL",
    description:
      "Proficient in designing and managing relational databases, writing efficient queries, and ensuring data integrity.",
  },
  {
    src: TypeScriptIcon,
    name: "TypeScript",
    description:
      "Strongly experienced in using TypeScript to enhance code quality and maintainability across both front-end and back-end projects.",
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Brian Gonzalez | Full-Stack Developer</title>
  </head>
  <body>
    <RootLayout>
      <main>
        <Hero
          title=`Salutations. I'm Brian.<br /> A full-stack developer.`
          secondary="Creating seamless digital experiences through thoughtful front-end and scalable back-end solutions."
        />

        <Contact title="Contact" />

        <CoreTechnologies
          title="Core Technologies"
          summary="During my two years as a web developer, I heavily utilized the technologies highlighted above to contribute to building and maintaining internal web applications focused on streamlining operational workflows within large companies."
          skills={skills}
        />

        <AboutSkills
          aboutMeTitle={"More Than Just Code"}
          aboutMe={"Driven by a fascination with creating functional and elegant web solutions, my journey into web development has been incredibly rewarding. Beyond the specific technologies I work with, I believe my strong problem-solving abilities are crucial in tackling complex development challenges effectively. I also value clear communication and collaboration within a team, honed through my experience in a fast-paced environment, ensuring smooth project workflows and shared success."}
          problemSolving={"I approach development challenges methodically, focusing on understanding the core issue and identifying practical solutions. My experience has strengthened my ability to analyze problems, troubleshoot effectively, and implement reliable fixes. I value the process of finding clear and logical solutions to technical problems."}
        />
      </main>
    </RootLayout>
  </body>
</html>
