---
import "../styles/globals.css";
import "../styles/resume.css";
import RootLayout from "../layouts/RootLayout.astro";
import ResumeHeader from "../components/resume/ResumeHeader.astro";
import ContactInfo from "../components/resume/ContactInfo.astro";
import LanguagesInfo from "../components/resume/LanguagesInfo.astro";
import SkillsInfo from "../components/resume/SkillsInfo.astro";
import ResumeBody from "../components/resume/ResumeBody.astro";
import ExperienceInfo from "../components/resume/ExperienceInfo.astro";
import ProfileInfo from "../components/resume/ProfileInfo.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Brian Gonzalez | Full-Stack Developer</title>
  </head>
  <body>
    <RootLayout>
      <main>
        <ResumeHeader title="Brian Gonzalez" subtitle="Full-Stack Developer" />
        <ResumeBody>
          <ContactInfo title="Contact" />
          <LanguagesInfo title="Languages" languages={["Spanish", "English"]} />
          <ProfileInfo
            title="Profile"
            text="Versatile Full-Stack Developer proficient in building scalable web applications with a strong emphasis on clean code and efficient problem-solving."
          />
          <ExperienceInfo
            title="Work Experience"
            experiences={[
              {
                at: "Binks",
                role: "Full-stack developer",
                summary:
                  "My experience at Binks provided a strong foundation in full-stack development and Clean Code best practices. These skills have been directly applied and further developed in the following projects, demonstrating my ability to successfully tackle complex technical challenges to deliver project goals.",
                projects: [
                  {
                    name: "Specialized construction management system",
                    description:
                      "As a key member of a small team, I contributed extensively to both the client-side and the server-side.",
                    stack:
                      "TypeScript, Next.js, Ant Design, Zod, React Hook Form, Redux Toolkit Query, NestJS, TypeORM, PostgreSQL, Jest, Cypress ",
                    challenge:
                      "A key challenge involved efficiently generating a high volume of accurate employee paychecks in PDF format through complex data processing. Additionally, I ensured system reliability and minimized disruptions by quickly identifying and resolving critical production issues, often within minutes.",
                  },
                  {
                    name: "Multi-tenant SaaS platform for construction management",
                    description:
                      "My responsibilities encompassed the entire technology stack, from developing the user-facing control panel and application front-ends to architecting a complex back-end.",
                    stack:
                      "TypeScript, Shadcn UI, TanStack-Query, Tanstack-table, Axios, Socket.IO, Tailwind CSS, NestJS, TypeORM, PostgreSQL, Redis (caching), SendGrid, Jest, Cypress",
                    challenge:
                      "To effectively serve a growing number of tenants, I implemented a singleton pattern that provided a fast and reliable way to efficiently manage multiple database connections, ensuring the platform's scalability.",
                  },
                  {
                    name: "Internal Application Template",
                    description:
                      "I was responsible for the end-to-end development of a new internal tracking tool. This involved establishing the complete development infrastructure, including containerizing the Ruby on Rails API, Next.js client, and PostgreSQL database using Docker for consistent and portable environments. I also developed Bash scripts for streamlined application startup and a dedicated setup script to automate hostname aliasing for convenient access (bypassing localhost) and install all necessary project dependencies.",
                    stack:
                      "Bash, Docker, TypeScript, Ruby, Next.js, Ruby on Rails, PostgreSQL",
                    challenge:
                      "To streamline the creation of multiple applications, I implemented a development template ensuring consistency and portability across different work environments by learning technologies like Docker and Bash to ensure compatibility between various operating systems.",
                  },
                ],
              },
            ]}
          />
          <SkillsInfo title="Skills" />
        </ResumeBody>
      </main>
    </RootLayout>
  </body>
</html>
