---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<div class="resume-container">
  <h2>{title}</h2>
  <p>+54 9 11 3340-2988</p>
  <a href="mailto:briandedgonzalez@gmail.com">briandedgonzalez@gmail.com</a>
  <a href="http://brianddgonzalez.netlify.app" target="_blank"
    >Portfolio website</a
  >
</div>
