---
import { getRelativeLocaleUrl } from "astro:i18n";
import "../styles/Navigation.css";
import CrossIcon from "./icons/CrossIcon.astro";
import HamburgerMenuIcon from "./icons/HamburgerMenuIcon.astro";

type Link = {
  href: string;
  label?: string;
  Icon?: (props: Record<string, any>) => any;
  extraProps?: Record<string, any>;
} & ({ label: string } | { Icon: (props: Record<string, any>) => any });

const links: Link[] = [
  {
    href: getRelativeLocaleUrl(Astro.currentLocale ?? "en", "work"),
    label: "Work",
  },
  {
    href: getRelativeLocaleUrl(Astro.currentLocale ?? "en", "about"),
    label: "About",
  },
  {
    href: getRelativeLocaleUrl(Astro.currentLocale ?? "en", "contact"),
    label: "Contact",
  },
];
const pushedLinks: Link[] = [
  /* {
    href: "https://www.linkedin.com/in/brian-gonzalez-a96a38359/",
    Icon: LinkedInIcon,
  },
  { href: "mailto:briandedgonzalez@gmail.com", Icon: EmailIcon },
  {
    href: "https://github.com/bddGonzalez",
    Icon: GithubIcon,
    extraProps: { width: 40, height: 40 },
  }, */
];
const prefersSpanishAndIsInEn =
  Astro.preferredLocale === "es" && !Astro.originPathname.includes("/es");
const pathname = Astro.originPathname.replace("/es", "");
---

{
  prefersSpanishAndIsInEn && (
    <div
      style="width:100%;background-color:#e8e8e8;padding:1rem;font-weight: 900;display:flex;gap:20px;"
      id="language-change-prompt"
    >
      ¿Cambiar a español?{" "}
      <a
        style="color: #1F3760; text-decoration:underline;"
        href={getRelativeLocaleUrl("es", pathname)}
      >
        Si
      </a>
      <button
        id="reject-language-change"
        style="color: #1F3760; text-decoration:underline;"
      >
        No
      </button>
    </div>
  )
}
<nav>
  <button id="btn-open" class="nav-open" aria-expanded="false"
    ><HamburgerMenuIcon /></button
  >

  <div class="nav-overlay"></div>

  <div class="nav-content">
    <button id="btn-close" class="nav-close"><CrossIcon /></button>
    <ul class="nav-links">
      {
        links.map(({ href, label, Icon, extraProps }) => (
          <li>
            <a href={href} style="font-weight:bolder;">
              {label && <p>{label}</p>}
              {Icon && <Icon {...extraProps} />}
            </a>
          </li>
        ))
      }
      <div class="pushed-links">
        {
          pushedLinks.map(({ href, label, Icon, extraProps }) => (
            <li>
              <a href={href} style="font-weight:bolder;" target="_blank">
                {label && <p>{label}</p>}
                {Icon && <Icon {...extraProps} />}
              </a>
            </li>
          ))
        }
      </div>
    </ul>
  </div>
</nav>
<script>
  const openBtn = document.querySelector("#btn-open") as HTMLElement;
  const closeBtn = document.querySelector("#btn-close") as HTMLElement;
  const media = window.matchMedia("(width < 768px)");
  const navContent = document.querySelector(".nav-content") as HTMLElement;
  const navOverlay = document.querySelector(".nav-overlay") as HTMLElement;

  const onMenuToggle = () => {
    const isExpanded =
      openBtn?.getAttribute("aria-expanded") === "true" || false;
    openBtn?.setAttribute("aria-expanded", String.raw`${!isExpanded}`);
    navContent.style.display = !isExpanded ? "block" : "";
    navOverlay.style.display = !isExpanded ? "block" : "";
  };

  const setupNav = (e: { matches: boolean }) => {
    if (e.matches) {
      openBtn.style.display = "block";
      openBtn?.setAttribute("aria-expanded", "false");
      navContent.style.display = "";
      navOverlay.style.display = "";
    } else {
      openBtn.style.display = "none";
      navContent.style.display = "flex";
      navOverlay.style.display = "none";
    }
  };

  setupNav(media);
  openBtn?.addEventListener("click", onMenuToggle);
  closeBtn?.addEventListener("click", onMenuToggle);
  navOverlay?.addEventListener("click", () => {
    openBtn?.setAttribute("aria-expanded", "false");
    navContent.style.display = "";
    navOverlay.style.display = "";
  });
  media.addEventListener("change", setupNav);

  // This here is for the reject-language-change button
  const rejectLanguageChangeBtn = document.querySelector(
    "#reject-language-change"
  ) as HTMLElement;
  const languageChangePrompt = document.querySelector(
    "#language-change-prompt"
  ) as HTMLElement;

  const messageAlreadyDismissed =
    sessionStorage.getItem("languagePromptDismissed") === "true";

  if (messageAlreadyDismissed && languageChangePrompt)
    languageChangePrompt.style.display = "none";

  rejectLanguageChangeBtn?.addEventListener("click", () => {
    sessionStorage.setItem("languagePromptDismissed", "true");
    if (languageChangePrompt) languageChangePrompt.style.display = "none";
  });
</script>
