---
import PostsLayout from "../../../layouts/PostsLayout.astro";
import PostsList from "../../../components/posts/PostsList.astro";
---

<PostsLayout>
  <div id="main-posts-table">
    <h1>Posts</h1>
    <PostsList server:defer />
  </div>
</PostsLayout>
