---
export const prerender = true;
import "../../styles/globals.css";
import "../../styles/resume.css";
import RootLayout from "../../layouts/RootLayout.astro";
import ResumeHeader from "../../components/resume/ResumeHeader.astro";
import ContactInfo from "../../components/resume/ContactInfo.astro";
import LanguagesInfo from "../../components/resume/LanguagesInfo.astro";
import SkillsInfo from "../../components/resume/SkillsInfo.astro";
import ResumeBody from "../../components/resume/ResumeBody.astro";
import ProfileInfo from "../../components/resume/ProfileInfo.astro";
import ExperienceInfo from "../../components/resume/ExperienceInfo.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Brian Gonzalez | Full-Stack Developer</title>
  </head>
  <body>
    <RootLayout>
      <main>
        <ResumeHeader title="Brian Gonzalez" subtitle="Full-Stack Developer" />
        <ResumeBody>
          <ContactInfo title="Contacto" />
          <LanguagesInfo title="Idiomas" languages={["Español", "Ingles"]} />
          <ProfileInfo
            title="Perfil"
            text="Versátil Desarrollador Full-Stack competente en la construcción de aplicaciones web escalables con un fuerte énfasis en el código limpio y la resolución eficiente de problemas."
          />
          <ExperienceInfo
            title="Experiencia"
            experiences={[
              {
                at: "Binks",
                role: "Full-stack developer",
                summary:
                  "En Binks adquirí una base sólida en desarrollo full-stack y las mejores prácticas de Código Limpio. Estas habilidades han sido directamente aplicadas y desarrolladas en los proyectos que he realizado, evidenciando mi capacidad para superar desafíos técnicos complejos y cumplir los objetivos de cada proyecto.",
                projects: [
                  {
                    name: "Sistema especializado de gestión de la construcción",
                    description:
                      "Como miembro clave de un equipo pequeño, contribuí ampliamente tanto al lado del cliente como al lado del servidor.",
                    stack:
                      "TypeScript, Next.js, Ant Design, Zod, React Hook Form, Redux Toolkit Query, NestJS, TypeORM, PostgreSQL, Jest, Cypress",
                    challenge:
                      "Un reto importante fue generar de manera eficiente un alto volumen de nóminas precisas en formato PDF mediante un procesamiento de datos complejo. Además, garanticé la estabilidad del sistema y minimicé las interrupciones al identificar y resolver con rapidez problemas críticos en producción, frecuentemente en minutos.",
                  },
                  {
                    name: "Plataforma SaaS multi-tenant para la gestión de la construcción",
                    description:
                      "Mis responsabilidades abarcaban todo el stack de tecnología, desde el desarrollo del panel de control orientado al usuario y los front-ends de la aplicación hasta la arquitectura de un back-end complejo",
                    stack:
                      "TypeScript, Shadcn UI, TanStack-Query, Tanstack-table, Axios, Socket.IO, Tailwind CSS, NestJS, TypeORM, PostgreSQL, Redis (caching), SendGrid, Jest, Cypress",
                    challenge:
                      "Para servir eficazmente a un número creciente de inquilinos, implementé un patrón singleton que proporcionó una manera rápida y confiable de gestionar eficientemente múltiples conexiones de base de datos, asegurando la escalabilidad de la plataforma.",
                  },
                  {
                    name: "Plantilla de aplicacion interna",
                    description:
                      "Fui responsable del desarrollo de una nueva herramienta de seguimiento interno. Esto implicó establecer la infraestructura de desarrollo completa, incluyendo la contenerización de la API de Ruby on Rails, el cliente de Next.js y la base de datos PostgreSQL utilizando Docker para entornos consistentes y portátiles. También desarrollé scripts de Bash para el inicio simplificado de la aplicación y un script de configuración dedicado para automatizar el alias de hostname para un acceso conveniente (evitando localhost) e instalar todas las dependencias necesarias del proyecto.",
                    stack:
                      "Bash, Docker, TypeScript, Ruby, Next.js, Ruby on Rails, PostgreSQL",
                    challenge:
                      "Para agilizar la creación de múltiples aplicaciones, implementé una plantilla de desarrollo que garantizaba la consistencia y la portabilidad entre diferentes entornos de trabajo aprendiendo tecnologías como Docker y Bash para asegurar la compatibilidad entre varios sistemas operativos.",
                  },
                ],
              },
            ]}
          />
          <SkillsInfo title="Habilidades" />
        </ResumeBody>
      </main>
    </RootLayout>
  </body>
</html>
