---
import { type RemoteImageProps } from "astro:assets";
import { Image } from "astro:assets";

export type Skill = {
  src: string | ((props: Record<string, any>) => any);
  name: string;
  description: string;
  alt?: string;
  whiteBg?: boolean;
};

const { skill: _skill } = Astro.props;

const skill = _skill as Skill;

if (!skill) throw new Error("skill issue");

const imageProps: RemoteImageProps | false =
  typeof skill.src === "string"
    ? {
        src: skill.src,
        alt: skill.alt ?? skill.name,
        height: 50,
        width: 50,
      }
    : false;
---

<style>
  .skill-card {
    padding: 15px;
    background-color: var(--bg-secondary);
    border-radius: 0px;
    overflow: hidden;
    place-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  @media (min-width: 768px) {
    .skill-card {
      border-radius: 15px;
    }
    .skill-card:hover {
      transform: scale(1.1, 1.1);
      box-shadow: 0px 0px 4px 4px #c9c9c9;
    }
  }
</style>
<div class="skill-card">
  {!!imageProps ? <Image {...imageProps} /> : <skill.src />}
  <h3>{skill.name}</h3>
  <p>{skill.description}</p>
</div>
